.btn {
  text-align: center;
  display: block;
  padding: 24px;
  font-family: "Roboto Condensed Bold";
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: opacity $trans-default;

  &--light {
    color: $color-default-white;
    border:  $color-default-white 4px solid;
  }

  &--dark {
    color: $color-sapphire;
    outline:  $color-sapphire 2px solid;
    border: none;
  }

  &--light:hover,
  &--light:focus,
  &--light:focus-visible {
    background: $color-default-white;
    color: $color-egyptian-blue;
    outline: none;
  }

  &--light:active {
    background: $color-default-white;
    color: $color-sapphire;
  }

  &--dark:hover,
  &--dark:focus,
  &--dark:focus-visible {
    outline: none;
    background: $btn-gradient;
    color: $color-default-white;
  }

  &--dark:active {
    outline: none;
    background: $btn-gradient;
    color: rgb(255, 255, 255, 0.6);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
