.contacts {
  width: 50%;
  padding: 48px 100px 63px 123px;
  border-top: 1px solid #74819c;

  h2 {
    @include block-title;
    font-family: "Alumni Sans SemiBold", "Arial", sans-serif;
    letter-spacing: 1.62px;
    line-height: 156%;
    text-align: start;
    padding-bottom: 28px;
    max-width: 463px;
  }
}


.contacts__list {
  margin: 0;
  position: relative;
  max-width: 463px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
  row-gap: 18px;

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 90%;
    background: #74819c;
    bottom: 50%;
    transform: translateY(50%);
    left: 50%;
  }
}

.contacts__item dt {
  color: $color-sapphire;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 2px;
}

.contacts__item dd {
  margin: 0;
  color: $color-sapphire;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 152%;
  padding-bottom: 35px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.contacts__item a {
  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 80%;
  }
}

@include vp-1199 {
  .contacts {
    width: 100%;
    padding: 53px 100px 61px 133px;
  }

  .contacts h2 {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 26px;
  }

  .contacts__list {
    column-gap: 96px;
    row-gap: 20px;
    max-width: none;
  }

  .contacts__item dt {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .contacts__item dd {
    font-size: 18px;
  }
}

@include vp-767 {
  .contacts {
    display: block;
    padding: 58px 15px 61px;
  }

  .contacts h2 {
    font-size: 32px;
    letter-spacing: 1px;
    padding-bottom: 28px;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;

    &::after {
      display: none;
    }
  }

  .contacts__item dt {
    padding-bottom: 5px;
  }

  .contacts__item--address {
    order: 0;
  }

  .contacts__item--schedule {
    order: 1;
  }

  .contacts__item--tel {
    order: 2;
  }

  .contacts__item--e-mail {
    order: 3;
  }
}
