.event {
  width: 100%;
  padding: 120px 103px 106px;

  h3 {
    margin: 0;
    text-align: center;
    font-family: "Alumni Sans SemiBold", "Arial", sans-serif;
    font-size: 82px;
    line-height: 96%;
    letter-spacing: 2px;
    grid-column: 1;
    grid-row: 1 / 3;
    text-transform: uppercase;
  }

  p {
    display: block;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 18px;
    line-height: 150%;
    padding: 30px 0 40px;
  }
}

.event__banner {
  background: $color-torch-red;
  display: grid;
  grid-template-columns: 1fr 660px;
  color: $color-default-white;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  height: min-content;
}

.event__info {
  padding: 85px 78px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;
}

.event__btn {
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.event__time {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  line-height: 150%;

  & b {
    width: min-content;
    display: block;
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    font-size: 40px;
    border-top: 2px solid $color-default-white;
    padding-top: 10px;
  }
}

.event__date {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  line-height: 150%;

  & div {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid $color-default-white;
    padding-top: 9px;
  }

  & b {
    width: min-content;
    display: block;
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    font-size: 40px;
  }

  & span {
    font-size: 14px;
  }
}

.event__underline {
  line-height: 150%;
  display: block;
}

@include vp-1199 {
  .event {
    padding: 101px 45px;
  }

  .event__banner {
    width: fit-content;
    display: flex;

    picture {
      flex-grow: 1;
    }
  }

  .event__info {
    min-width: 292px;
    padding: 53px 45px 48px;
    column-gap: 29px;
  }

  .event h3 {
    font-size: 48px;
  }

  .event p {
    font-size: 12px;
    line-height: 150%;
    padding: 5px 0 30px;
  }

  .event__date {
    padding-bottom: 0;
  }

  .event__date b {
    font-size: 24px;
  }

  .event__date .event__underline {
    font-size: 12px;
    line-height: 100%;
    padding-bottom: 2px;
  }

  .event__date div {
    line-height: 70%;
    padding-top: 0;
    border-top: 1px solid $color-default-white;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .event__date span {
    font-size: 10px;
  }

  .event__time .event__underline {
    font-size: 12px;
    line-height: 100%;
    padding-bottom: 2px;
  }

  .event__time span {
    font-size: 12px;
    line-height: 100%;
    padding: 0;
  }

  .event__time b {
    padding-top: 4px;
    font-size: 24px;
    border-top: 1px solid $color-default-white;
  }

  .event__btn {
    padding: 14px;
    font-size: 10px;
    border: 2px solid $color-default-white;
  }
}

@include vp-767 {
  .event {
    padding: 70px 15px 0 15px;
  }

  .event__banner {
    flex-direction: column;
  }

  .event__info {
    min-width: 0;
    padding: 48px 44px 50px;
    column-gap: 30px;
  }

  .event h3 {
    margin: 0;
    text-align: center;
    font-size: 48px;
    line-height: 96%;
    letter-spacing: 1px;
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .event p {
    margin: 0;
    padding: 8px 0 33px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .event__btn {
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding: 14px;
    letter-spacing: 0.5px;
  }

  .event__time span {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .event__time b {
    border-top: 1px solid $color-default-white;
    font-size: 24px;
    line-height: 80%;
  }

  .event__date .event__underline {
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
  }

  .event__date div {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $color-default-white;
    padding-top: 5px;
  }

  .event__date span {
    font-size: 10px;
  }

  .event__date b {
    width: min-content;
    display: block;
    font-size: 24px;
  }
}
