.footer {
  position: relative;
  background: $color-black-russian;
  padding: 50px 15px 52px;
}

.footer__logo {
  position: absolute;
  color: $color-default-white;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;

  &::after {
    content: "";
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.footer__link {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 16px;
  color: $color-default-white;
  width: 100%;
  height: 100%;
}
