.footer {
  background: $color-black-russian;
  padding: 41px 104px 32px 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.footer__logo {
  max-width: 88px;
  fill: $color-default-white;

  &:hover {
    opacity: 80%;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $color-default-white;
  }

  &:active {
    opacity: 30%;
  }
}

.footer__list {
  max-width: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  row-gap: 20px;
}

.footer__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  color: $color-default-white;
  width: 100%;
  height: 100%;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid $color-default-white;
  }

  &:active {
    opacity: 30%;
  }
}

@include vp-1199 {
  .footer {
    position: relative;
    padding: 40px 45px 39px;
    align-items: center;
  }

  .footer__list {
    max-width: 420px;
    padding-left: 12px;
    column-gap: 30px;
  }

  .footer__logo svg {
    width: 82px;
    height: auto;
  }
}

@include vp-767 {
  .footer {
    display: block;
    position: relative;
    padding: 46px 15px 52px;
  }

  .footer__logo {
    position: absolute;
  }

  .footer__logo svg {
    width: 68px;
    height: auto;
  }

  .footer__list {
    padding: 0 0 35px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 15px;

    &::after {
      content: "";
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  .footer__link {
    font-size: 16px;
  }

  .footer__item--services {
    order: 1;
  }

  .footer__item--membership {
    order: 3;
  }

  .footer__item--promo {
    order: 0;
  }

  .footer__item--trainers {
    order: 2;
  }

  .footer__item--schedule {
    order: 4;
  }
}
