.gym {
  width: 100%;
  padding: 120px 103px 235px 163px;
  text-align: start;
  display: grid;
  grid-template-columns: 355px 660px;
  column-gap: 85px;
  position: relative;
  overflow: hidden;

  h2 {
    @include block-title;
    font-size: 48px;
    letter-spacing: 1.44px;
    padding: 38px 0 10px 0;
    grid-column: 1 / 2;
    text-align: start;
  }

  b {
    display: block;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 18px;
    line-height: normal;
    color: $color-sapphire;
    margin: 0;
    padding: 0 0 40px 0;
    grid-column: 1 / 2;
    height: min-content;
  }

  span {
    display: block;
    padding-top: 10px;
  }

  p {
    font-family: "Roboto Condensed Light", "Arial", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: $color-sapphire;
    margin: 0;
    padding: 0;
    grid-column: 1 / 2;
  }

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.gym__wrapper-video {
  position: absolute;
  bottom: 120px;
  left: 53%;
  transform: translateX(-50%);

  video {
    max-width: none;
  }
}

.gym__video-btn {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  background: none;
  background-image: url("../img/stack.svg#icon-play");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  z-index: 2;

  &:hover,
  &:focus-visible,
  &:active {
    background-image: url("../img/stack.svg#icon-play-active");
    outline: none;
  }

  &:disabled {
    background-image: url("../img/stack.svg#icon-play-disabled");
  }
}

@include vp-1339 {
  .gym__wrapper-video {
    position: absolute;
    bottom: 120px;
    left: 60%;
    transform: translateX(-50%);
  }

  .gym__video {
    max-width: none;
  }
}

@include vp-1199 {
  .gym {
    padding: 100px 45px 183px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .gym h2 {
    text-align: center;
    padding: 0 0 2px 0;
    font-size: 42px;
    letter-spacing: 1px;
  }

  .gym b {
    padding: 0 0 36px 0;
  }

  .gym p {
    padding: 0 50px 44px 50px;
  }

  .gym span {
    display: none;
    padding: 0;
  }

  .gym img {
    width: auto;
  }

  .gym__wrapper-video {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
  }

  .gym__video {
    width: 266px;
    height: 167px;
  }

  .gym__video-btn {
    bottom: 47px;
    width: 73px;
    height: 73px;
  }
}

@include vp-767 {
  .gym {
    padding: 62px 0 70px;
    text-align: start;
  }

  .gym h2 {
    font-size: 32px;
    padding: 0 15px 8px 15px;
    text-align: start;
  }

  .gym b {
    padding: 0 15px 27px 15px;
  }

  .gym p {
    padding: 0 47px 34px 15px;
  }

  .gym img {
    padding-bottom: 40px;
  }

  .gym__wrapper-video {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    transform: none;
  }

  .gym__video {
    width: 320px;
    height: 167px;
  }
}
