.header {
  box-sizing: border-box;
  background: $background-gradient;
  padding: 30px 103px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__logo {
  fill: $color-default-white;

  &:hover {
    opacity: 80%;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $color-default-white;
  }

  &:active {
    opacity: 30%;
  }
}

.header__tel {
  font-family: "Alumni Sans SemiBold", "Arial", sans-serif;
  color: $color-default-white;
  font-size: 26px;
  max-width: 50%;

  &:hover {
    opacity: 80%;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $color-default-white;
  }

  &:active {
    opacity: 30%;
  }
}

@include vp-767 {
  .header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0;
  }

  .header__wrapper {
    padding: 15px;
  }
}
