.header {
  box-sizing: border-box;
  background: $background-gradient;
  padding: 38px 103px 92px;
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.header__logo {
  display: block;
  fill: $color-default-white;
  max-width: 119px;

  &:hover {
    opacity: 80%;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $color-default-white;
  }

  &:active {
    opacity: 30%;
  }

  svg {
    display: block;
  }
}

.header__tel {
  display: block;
  font-family: "Alumni Sans SemiBold", "Arial", sans-serif;
  color: $color-default-white;
  font-size: 26px;
  max-width: 155px;
  letter-spacing: 0.78px;

  &:hover {
    opacity: 80%;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $color-default-white;
  }

  &:active {
    opacity: 30%;
  }
}

@include vp-1199 {
  .header {
    padding: 39px 45px 83px;
    align-items: center;
  }

  .header__wrapper {
    padding-bottom: 18px;
    align-items: center;
    max-width: 678px;
  }

  .header__logo svg {
    width: 82px;
    height: auto;
  }

  .header__tel {
    font-size: 24px;
    letter-spacing: 0.5px;
  }
}

@include vp-767 {
  .header {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 0;
  }

  .header__wrapper {
    padding: 15px;
    column-gap: 104px;
    justify-content: space-between;
  }

  .header__logo svg {
    width: 69px;
    height: auto;
  }

  .header__tel {
    font-size: 20px;
  }
}
