.hero {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 500px;
  column-gap: 64px;
  row-gap: 80px;
  padding-right: 200px;
}

.hero__wrapper {
  grid-column: 1 / 2 ;
  grid-row: 1 / 2;
}

.hero__picture {
  grid-column: 2 / 3 ;
  grid-row: 1 / 3;
}

.hero__btn {
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 230px;
  align-self: start;
  justify-self: end;
}

.hero__text {
  display: block;
  font-family: "Alumni Sans SemiBold", "Arial", sans-serif;
  font-size: 48px;
  color: $color-default-white;
  text-transform: uppercase;
  padding: 98px 40px 25px 0;
}

.hero__wrapper-title {
  min-width: 377px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.hero__title {
  order: 1;
  width: 60%;
  font-family: "Alumni Sans Bold", "Arial", sans-serif;
  font-size: 92px;
  letter-spacing: 3px; //проверить через PP
  line-height: 100%;
  color: $color-default-white;
  margin: 0;
  padding: 0;
}

.hero__list {
  order: 0;
  width: 30%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: $color-default-white;
  list-style-type: none;
  margin: 0;
  padding: 0 0 30px 0;
}

@include vp-767 {
  .hero {
    padding: 76px 15px;
  }

  .hero__text {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-size: 28px;
  }

  .hero__title {
    font-family: "Alumni Sans Semibold", "Arial", sans-serif;
    font-size: 72px;
    -webkit-text-stroke: 2px;
    letter-spacing: 1px; //проверить через PP
    line-height: normal;
    margin: 0;
    padding: 20px 0;
  }

  .hero__wrapper-title {
    position: relative;
  }

  .hero__list {
    position: absolute;
    top: 50%;
    left: 15px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 14px;
    color: $color-default-white;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .hero__btn {
    margin: 0 auto;
    min-width: 290px;
  }

  .hero__picture {
    display: none;
  }
}
