.hero {
  text-align: right;
  padding: 76px 15px;
}

.hero__text {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 28px;
  color: $color-default-white;
  text-transform: uppercase;
}

.hero__title {
  font-family: "Alumni Sans Semibold", "Arial", sans-serif;
  font-size: 72px;
  -webkit-text-stroke: 2px;
  letter-spacing: 1px;  //проверить через PP
  line-height: normal;
  color: $color-default-white;
  margin: 0;
  padding: 20px 0;
}

.hero__wrapper {
  position: relative;
}

.hero__list {
  position: absolute;
  top: 50%;
  left: 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  color: $color-default-white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero__btn {
  margin: 0 auto;
  min-width: 290px;
}
