.membership {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $color-ghost-white;
  padding: 120px 103px;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    width: 470px;
    height: 494px;
    background-image: url("../img/decoration.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    bottom: -150px;
    right: -185px;
    z-index: 0;
  }

  h2 {
    @include block-title;
    padding-bottom: 20px;
    letter-spacing: 1.44px;
  }
}

.membership__wrapper {
  width: 100%;
}

.membership__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
  z-index: 1;
}

.membership__pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 46px;
  row-gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 45px;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: $color-default-grey;
    opacity: 20%;
    bottom: 0;
  }
}

.membership__control {
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 150%;
  color: $color-sapphire;
  padding: 0 0 10px 0;
  opacity: 50%;
  background-color: transparent;
  border: none;

  &.is-active {
    opacity: 100%;
  }

  &.is-active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: $color-torch-crimson;
    bottom: 0;
    left: 0;
  }

  &:hover,
  &:focus-visible {
    outline: 2px solid $color-sapphire;
    opacity: 100%;
  }
}

.membership__item {
  box-sizing: border-box;
  background: $color-default-white;
  padding: 50px 70px 68px;
  cursor: pointer;
  border: 7px solid transparent;

  &:hover,
  &:focus-visible {
    border: 7px solid;
    border-image: $border-gradient;
    border-image-slice: 1;
  }

  h3 {
    text-align: center;
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    font-size: 26px;
    line-height: 110%;
    color: $color-sapphire;
    margin: 0;
    padding: 0 0 12px 0;
  }

  span {
    display: block;
    text-align: center;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: $color-sapphire;
    margin: 0;
    padding: 0 0 62px 0;
  }

  p {
    position: relative;
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    font-size: 60px;
    line-height: 150%;
    color: $color-egyptian-blue;
    margin: 0;
    padding: 0 0 40px 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

  }

  p:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-price);
    font-size: 100px;
    color: $color-whisper;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    z-index: -1;
  }

  svg {
    width: 30px;
    height: 42px;
  }
}

.membership__btn {
  min-width: 206px;
}

.membership__item:hover,
.membership__item:focus-visible {

  .membership__btn {
    background: $btn-gradient;
    color: $color-default-white;
    outline: none;
  }

  .membership__btn:hover,
  .membership__btn:focus-visible {
    background: $color-default-white;
    color: $color-egyptian-blue;
    outline: 2px solid $color-sapphire;
  }

  .membership__btn:active {
    background: $color-default-white;
    color: $color-sapphire;
  }
}

@include vp-1199 {
  .membership {
    padding: 100px 163px 102px;
  }

  .membership::after {
    width: 347px;
    height: 444px;
    bottom: -127px;
    right: 0;
  }

  .membership h2 {
    font-size: 42px;
    padding: 0 0 20px 0;
    letter-spacing: 1px;
  }

  .membership__list {
    column-gap: 33px;
  }

  .membership__item {
    padding: 55px 112px 64px;
    width: 100%;
  }

  .membership__item h3 {
    padding-bottom: 8px;
  }

  .membership__item span {
    padding-bottom: 66px;
  }

  .membership__item p {
    padding: 0 12px 40px;
  }

  .membership__btn {
    width: 100%;
    margin: 0 auto;
    padding: 22px 0 23px;
  }

  .membership__pagination {
    column-gap: 54px;
  }

  .membership__control {
    padding-bottom: 14px;
    font-size: 18px;
  }
}

@include vp-767 {
  .membership {
    padding: 63px 15px 68px;
  }

  .membership::after {
    display: none;
  }

  .membership h2 {
    font-size: 32px;
    padding-bottom: 20px;
  }

  .membership__pagination {
    margin-bottom: 35px;
    column-gap: 45px;
  }

  .membership__control {
    padding-bottom: 15px;
    font-size: 16px;
  }

  .membership__list {
    flex-direction: column;
    row-gap: 34px;
  }

  .membership__item {
    padding: 44px 38px 53px;
  }

  .membership__item h3 {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 7px;
  }

  .membership__item span {
    font-size: 16px;
    padding-bottom: 54px;
  }

  .membership__item p {
    column-gap: 7px;
    padding-bottom: 36px;
    font-size: 48px
  }

  .membership__item p::after {
    font-size: 80px;
  }

  .membership__item svg {
    width: 24px;
    height: 33px;
  }

  .membership__btn {
    margin: 0 auto;
    padding: 22px 22px 24px;
    width: 100%;
  }
}
