.promo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 135px 103px 120px;

  h2 {
    @include block-title;
    padding-bottom: 34px;
    letter-spacing: 1.62px;
    max-width: 1160px;
    margin: 0 auto;
  }
}

.promo__list {
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  gap: 41px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  padding: 0;
  list-style-type: none;
}

.promo__banner {
  width: auto;
  min-height: 211px;
  height: fit-content;
  grid-column: 2 / 3;
  grid-row: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  color: $color-resolution-blue;
  border: 7px solid;
  border-image: $border-gradient;
  border-image-slice: 1;

  p {
    margin: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    line-height: 140%;
    font-size: 16px;
  }

  b {
    display: block;
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    font-size: 26px;
    padding-bottom: 10px;
  }
}

.promo__info {
  padding: 26px 27px 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.promo__link {
  color: $color-resolution-blue;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  line-height: 100%;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 0 2px;
  margin: auto auto 10px 0;
  border-bottom: 1px solid $color-resolution-blue;
  letter-spacing: 0.6px;

  &:hover {
    opacity: 80%;
  }

  &:focus-visible {
    padding: 10px;
    margin-bottom: 2px;
    outline: 1px solid $color-resolution-blue;
    border-bottom: 1px solid transparent;
  }

  &:active {
    outline: none;
    border-bottom: 1px solid $color-resolution-blue;
  }

  &:disabled {
    opacity: 30%;
  }
}

.promo__banner--main {
  grid-column: 1 / 2;
  grid-row: auto / span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: $color-torch-red;
  color: $color-default-white;
  border: none;
  padding: 0;
  height: fit-content;
  min-height: 462px;

  span {
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    font-size: 28px;
  }

  .promo__info {
    padding: 45px 45px 43px;
    width: 50%;
  }

  b {
    display: block;
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    line-height: 100%;
    font-size: 70px;
    padding: 0 0 20px 0;
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }

  img {
    background-color: $color-egyptian-blue;
    object-fit: cover;
    height: 100%;
  }
}

.promo__banner--main .promo__link {
  font-size: 14px;
  margin: auto auto 0 0;
  width: fit-content;
  display: block;
  color: $color-default-white;
  padding: 10px 0 5px;
  border-bottom: 1px solid $color-default-white;

  &:focus-visible {
    outline: 1px solid $color-default-white;
    padding: 10px;
    border-bottom: 1px solid transparent;
  }

  &:active {
    outline: none;
    padding: 10px 0 5px;
    border-bottom: 1px solid $color-default-white;
  }
}

@include vp-1199 {
  .promo {
    padding: 91px 45px 100px;
  }

  .promo h2 {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 40px;
  }

  .promo__list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 31px;
  }

  .promo__banner {
    width: 47.7%;
    height: fit-content;
    min-height: 211px;
  }

  .promo__info {
    padding: 25px 28px 18px;
  }

  .promo__banner b {
    padding-bottom: 12px;
  }

  .promo__banner p {
    padding-bottom: 40px;
  }

  .promo__banner--main {
    width: 100%;
  }

  .promo__banner--main .promo__info {
    padding: 43px 45px;
    flex-grow: 1;
    min-width: 278px;
  }

  .promo__link {
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  .promo__banner--main b {
    padding: 7px 0 16px;
  }

  .promo__banner--main p {
    font-size: 18px;
  }

  .promo__banner--main img {
    min-width: 399px;
    min-height: 462px;
  }

  .promo__banner--main .promo__link {
    font-size: 14px;
  }
}

@include vp-767 {
  .promo {
    padding: 63px 15px 70px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .promo h2 {
    font-size: 32px;
    padding-bottom: 44px;
  }

  .promo__banner {
    width: 100%;
    text-align: center;
  }

  .promo__banner--main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: min-content;
  }

  .promo__link {
    margin: 0 auto 10px;
    letter-spacing: 0.7px;
  }

  .promo__info {
    padding: 36px 42px 28px;
  }

  .promo__banner b {
    padding-bottom: 12px;
  }

  .promo__banner p {
    padding-bottom: 18px;
  }

  .promo__banner--main .promo__info {
    padding: 42px 35px 34px 45px;
  }

  .promo__banner--main b {
    padding-bottom: 11px;
  }

  .promo__banner--main p {
    padding-bottom: 20px;
  }

  .promo__banner--main img {
    min-width: 290px;
    min-height: 299px;
  }

  .promo__banner--main .promo__link {
    margin: 0 auto 10px;
  }

  .promo__banner--main .promo__link:focus-visible {
    margin-bottom: 5px;
  }
}
