.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: $color-default-white;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background: $color-egyptian-blue;
    outline: none;
  }

  &:active {
    background: $color-sapphire;
  }

  &:disabled {
    background: $color-default-white;
    opacity: 30%;
  }

  & svg,
  &:disabled > svg {
    fill: $color-black-russian;
  }

  &:hover > svg,
  &:focus > svg,
  &:active > svg {
    fill: $color-default-white;
  }
}
