.trainers {
  width: 100%;
  padding: 0 46px 105px;

  h2 {
    @include block-title;
    padding-bottom: 50px;
    text-align: start;
    letter-spacing: 1.62px;
    max-width: 1160px;
    margin: 0 auto;
  }
}

.trainers__wrapper {
  position: relative;
  padding: 0 56px;
  margin: 0 auto;
  width: fit-content;
}

.trainers__slider {
  box-sizing: border-box;
  max-width: 1160px;
}

.trainers__card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 260px;
  max-height: 294px;

  img {
    display: block;
    z-index: 0;
    width: 100%;
    background-color: $color-light-slate-grey;
  }
}

.trainers__info {
  box-sizing: border-box;
  overflow-y: scroll;
  -moz-overflow-y: scroll;

  h3 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto Condensed Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 100%;
    color: $color-default-white;
    margin: 0;
    z-index: 1;
    max-width: 100%;
  }

  p {
    display: none;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: #b6bdcc;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
  }
}

.trainers__card:hover,
.trainers__card:focus,
.trainers__card:focus-visible {
  justify-content: flex-start;
  outline: none;

  .trainers__info {
    padding: 55px 30px 53px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  .trainers__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 14px;
    margin-top: auto;
    justify-self: flex-end;
  }

  p {
    display: block;
  }

  h3 {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }
}

.trainers__card:hover::before,
.trainers__card:focus::before,
.trainers__card:focus-visible::before {
  position: absolute;
  content: "";
  background-color: $color-sapphire;
  opacity: 89%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.trainers__list {
  display: none;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $color-default-white;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  padding-left: 39px;
}

.trainers__btn-prev {
  top: 47%;
  left: -17px;
  width: 56px;
  height: 56px;

  &::after {
    color: $color-sapphire;
    font-size: 32px;
  }

  &:hover,
  &:focus-visible {
    outline: 1px solid $color-sapphire;
    border-radius: 50%;
  }

  &:active {
    outline: 1px solid $color-sapphire;
    border-radius: 50%;
    background-color: $color-sapphire;
  }

  &:active::after {
    color: $color-default-white;
  }
}

.trainers__btn-next {
  top: 47%;
  right: -17px;
  width: 56px;
  height: 56px;

  &::after {
    color: $color-sapphire;
    font-size: 32px;
  }

  &:hover,
  &:focus-visible {
    outline: 1px solid $color-sapphire;
    border-radius: 50%;
  }

  &:active {
    outline: 1px solid $color-sapphire;
    border-radius: 50%;
    background-color: $color-sapphire;
  }

  &:active::after {
    color: $color-default-white;
  }
}

@include vp-1365 {
  .trainers__wrapper {
    max-width: 1050px;
  }

  .trainers__card:hover .trainers__info,
  .trainers__card:focus .trainers__info,
  .trainers__card:focus-visible .trainers__info {
    padding: 40px 30px;
  }

  .trainers__list {
    padding-left: 0;
  }
}

@include vp-1199 {
  .trainers {
    padding: 0 45px 100px;
  }

  .trainers h2 {
    font-size: 42px;
    text-align: center;
    letter-spacing: 1.26px;
    padding-left: 0;
    padding-bottom: 32px;
  }

  .trainers__wrapper {
    padding: 0 56px;
  }

  .trainers__slider {
    max-width: 566px;
  }

  .trainers__card {
    max-width: 268px;
  }

  .trainers__card:hover .trainers__info,
  .trainers__card:focus .trainers__info,
  .trainers__card:focus-visible .trainers__info {
    padding: 55px 40px 53px;
  }

  .trainers__list {
    padding-left: 28px;
  }

  .trainers__btn-next {
    top: 48%;
    right: -20px;
  }

  .trainers__btn-prev {
    top: 48%;
    left: -20px;
  }
}

@include vp-767 {
  .trainers {
    padding: 62px 15px 70px;
  }

  .trainers h2 {
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0;
    padding-bottom: 44px;
  }

  .trainers__slider {
    max-width: 226px;
  }

  .trainers__wrapper {
    padding: 0 30px;
  }

  .trainers__card {
    max-width: 226px;
    min-height: 274px;
  }

  .trainers__card:hover .trainers__info,
  .trainers__card:focus .trainers__info,
  .trainers__card:focus-visible .trainers__info {
    padding: 46px 33px 43px;
  }

  .trainers__list {
    padding-left: 14px;
  }

  .trainers__btn-next,
  .trainers__btn-prev {
    top: 53%;
    width: 30px;
    height: 30px;
  }

  .trainers__btn-next {
    right: -10px;
  }

  .trainers__btn-prev {
    left: -10px;
  }

  .trainers__btn-next::after,
  .trainers__btn-prev::after {
    font-size: 19px;
  }
}
