@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin vp-1365 {
  @media (max-width: ($vp-1366 - 1px)) {
    @content;
  }
}

@mixin vp-1339 {
  @media (max-width: ($vp-1340 - 1px)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}


@mixin block-title {
  font-family: "Alumni Sans SemiBold", "Arial", sans-serif;
  font-size: 54px;
  line-height: normal;
  color: $color-sapphire;
  margin: 0;
}
